body{
	margin:0;
	font-family:verdana;
	font-size:13px;
	background-color: #DFF3F9;
}
.body{
	margin-left:auto;
	margin-right:auto;
	width:1000px;
	background-color: white;
	padding-bottom: 10px;
}
.body-inner{
	width:1000px;
	padding-left:10px;
	padding-right:10px;
}
.foot{
	text-align:center;
	color:gray;
}
.login {
    font-size:15px;
	margin:100px auto 100px auto;
	text-align: center;
	line-height: 180%;
}
.login fieldset{
	display: inline;
	padding: 10px;
}
.addMember, .addBook, .addIssue, .returnIssue {
	margin:10px auto 10px auto;
	text-align: center;
}
.addMember fieldset, .addBook fieldset, .addIssue fieldset, .returnIssue fieldset {
	display:inline;
}
#error{
	color:red;
	text-align:center;	
}
.nav{
	text-align: right;
	list-style-type: none;
	margin-right: 10px;
}
.nav li{
	display: inline;
	padding-left: 8px;
	padding-right: 8px;
	color: #1EAFCE;
}
.nav li a{
	text-decoration: none;
}
.nav li a:hover, .nav li a.selected{
	text-decoration: underline;
}
.lmsgrid{
	width: 90%;
	border: 1px solid gray;
}
.lmsgrid th{
	text-align: left;
	background-color: gray;
	color:white;
}
.oddRow{
	
}
.evenRow{
	background:#EEE;
}
.overload{
	background:#F7BEBB;
}
.editIcon{
	background: url('../images/modify.png') no-repeat;
	width: 16px;
	height: 18px;
	display: block;
}